body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.loading {
    max-width: 50%;
    line-height: 1.4;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.loading__author {
    font-weight: normal;
    font-style: italic;
    font-size: 0.9rem;
    color: rgba(189,189,189,1);
    margin: 0.6rem 0 2rem 0;
    display: block;
}

.loading__anim {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;

    background: conic-gradient(
        hsla(260, 90%, 65%, 1) 0%,
        hsla(260, 90%, 55%, 0.8) 30%,
        hsla(260, 90%, 45%, 0.4) 60%,
        hsla(260, 90%, 35%, 0.2) 80%,
        hsla(260, 90%, 65%, 1) 100%
    );

    -webkit-mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 5px),
        black calc(100% - 4px)
    );

    mask: radial-gradient(
        farthest-side,
        transparent calc(100% - 5px),
        black calc(100% - 4px)
    );

    animation: rotate 600ms infinite linear;

}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(1turn)
    }
}